#thatsMe
	img.thatsMe(src="images/thatsMe.jpg")
#about
	.content
		.title
			h2 About
			p This is the story of Wes, a man who’s dream is to inspire people to think, "whoa, that's cool..."   Here is his journey so far:
		ul.chapters
			li.discovery
				.icon
					i.fa.fa-lightbulb-o
				h3 Discovery
				p When Wes discovered programming, he realized his life would never be the same. Wes knew that with this skill, the possibilities of what he could create would be limited only by his own imagination.
			li.development
				.icon
					i.fa.fa-laptop
				h3 Development
				p So he began to code, tinkering with backend frameworks, jQuery plugins, and SASS mixins. One project at a time, Wes paved his way to becoming a master in the art of all things web development.
			li.design
				.icon
					i.fa.fa-paint-brush
				h3 Design
				p Desiring his creations to be beautiful as well as functional, Wes decided to become a master of design. His artistic skill is still growing, but don't worry, he knows every last keyboard shortcut in Photoshop.