#contact
	.content
		.title
			h2 Contact
			p Wes loves to meet new people and take on new exciting projects. Send him a message below! Go out for drinks with him and talk about life. Or keep it strictly web development. It’s all good.
		form(action="/message" method="post")
			input(type="text" name="name")
			input(type="text" name="email")
			input(type="textarea" name="message")
			input(type="submit")
			#testing