#header
	.intro
		h2 Hi, my name is
		h1.myName Wes Kaplan
		h2 and I am a
		h1.whoIAm
			span.designer.hidden
				include Designer.svg
			span.typewriter
				span.developer Developer
				span.cursor |
	.main-logo
		.logo-reflective
	.navigation
		ul.nav-links
			li.about-nav: a(href="#about") About
			li.work-nav: a(href="#work") Work
			li.contact-nav: a(href="#contact") Contact