// Colors

$yellow: #ffe033;
$yellow-light: #fff099;
$red: #ff5842;
$purple: #4d4478;
$blue: #22a9b5;
$green: #35bd37;
$white: #ffffff;


// Fonts
$cursive: Andada, serif;
$bold-sans: Candara, sans-serif;
$mono: SourceCodePro, monospace;
$kaplan: Raleway, sans-serif;
$jump: Chomp, sans-serif;
// set correct font path for font-awesome
$fa-font-path: "../../fonts";

//Animations

$menu-animation-timing: 0.5s;

// Sizing

$triangle-size: 50px;
$diamond-size: 200px;